<a href="https://colab.research.google.com/github/LeonSilva15/data-analysis/blob/main/Bikes_store_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bikes store exercise

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline # draw the plots immediately after the current cell

# Load the data

In [2]:
!wget 'https://raw.githubusercontent.com/LeonSilva15/data-analysis/main/data/sales_data.csv'

--2023-08-30 18:44:18--  https://raw.githubusercontent.com/LeonSilva15/data-analysis/main/data/sales_data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 15127245 (14M) [text/plain]
Saving to: ‘sales_data.csv’

sales_data.csv      100%[===================>]  14.43M  --.-KB/s    in 0.08s

2023-08-30 18:44:19 (179 MB/s) - ‘sales_data.csv’ saved [15127245/15127245]

In [3]:
!head sales_data.csv

Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418
2016-05-15,15,May,2016,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,5,45,120,297,225,522
2014-05-22,22,May,2014,47,Adults (35-64),F,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,199,180,379
2016-05-22,22,May,2016,47,Adults (35-64),F,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,2,45,120,100,90,190
2014-02-22,22,February,2014,35,Adults (35-64),M,Australia,Victoria,Accessories,Bike Racks,Hitch Rack - 4-Bike,22,45,120,1096,990,2086

In [4]:
sales_df = pd.read_csv(
    'sales_data.csv',
    parse_dates=[ 'Date' ]
)

In [5]:
sales_df.head()

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Product_Category,Sub_Category,Product,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,Accessories,Bike Racks,Hitch Rack - 4-Bike,8,45,120,590,360,950
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,23,45,120,1366,1035,2401
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,20,45,120,1188,900,2088
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,Accessories,Bike Racks,Hitch Rack - 4-Bike,4,45,120,238,180,418

In [6]:
sales_df.shape

(113036, 18)

In [7]:
sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113036 entries, 0 to 113035
Data columns (total 18 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Date              113036 non-null  datetime64[ns]
 1   Day               113036 non-null  int64
 2   Month             113036 non-null  object
 3   Year              113036 non-null  int64
 4   Customer_Age      113036 non-null  int64
 5   Age_Group         113036 non-null  object
 6   Customer_Gender   113036 non-null  object
 7   Country           113036 non-null  object
 8   State             113036 non-null  object
 9   Product_Category  113036 non-null  object
 10  Sub_Category      113036 non-null  object
 11  Product           113036 non-null  object
 12  Order_Quantity    113036 non-null  int64
 13  Unit_Cost         113036 non-null  int64
 14  Unit_Price        113036 non-null  int64
 15  Profit            113036 non-null  int64
 16  Cost              113036 non-null  int64
 17  Revenue           113036 non-null  int64
dtypes: datetime64[ns](1), int64(9), object(8)
memory usage: 15.5+ MB

In [8]:
sales_df.describe()

,Day,Year,Customer_Age,Order_Quantity,Unit_Cost,Unit_Price,Profit,Cost,Revenue
count,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000,113036.000000
mean,15.665753,2014.401739,35.919212,11.901660,267.296366,452.938427,285.051665,469.318695,754.370360
std,8.781567,1.272510,11.021936,9.561857,549.835483,922.071219,453.887443,884.866118,1309.094674
min,1.000000,2011.000000,17.000000,1.000000,1.000000,2.000000,-30.000000,1.000000,2.000000
25%,8.000000,2013.000000,28.000000,2.000000,2.000000,5.000000,29.000000,28.000000,63.000000
50%,16.000000,2014.000000,35.000000,10.000000,9.000000,24.000000,101.000000,108.000000,223.000000
75%,23.000000,2016.000000,43.000000,20.000000,42.000000,70.000000,358.000000,432.000000,800.000000
max,31.000000,2016.000000,87.000000,32.000000,2171.000000,3578.000000,15096.000000,42978.000000,58074.000000

## What's the mean of Customers_Age?

Show a density (KDE) and a box plot with the Customer_Age data:

## What's the mean of Order_Quantity?

## How many sales per year do we have?

Show a pie plot with the previous data:

## How many sales per month do we have?

Show a bar plot with the previous data:

## Which country has the most sales quantity of sales?

Show a bar plot of the sales per country:

## Create a list of every product sold

Create a bar plot showing the 10 most sold products (best sellers):

## Can you see any relationship between Unit_Cost and Unit_Price?

Show a scatter plot between both columns.

## Can you see any relationship between Order_Quantity and Profit?

Show a scatter plot between both columns.

## Can you see any relationship between Profit per Country?

Show a grouped box plot per country with the profit values.

## Can you see any relationship between the Customer_Age per Country?

Show a grouped box plot per country with the customer age values.

## Add and calculate a new Calculated_Date column

Use Day, Month, Year to create a Date column (YYYY-MM-DD).

## Parse your Calculated_Date column into a datetime object

## How did sales evolve through the years?

Show a line plot using Calculated_Date column as the x-axis and the count of sales as the y-axis.

## Increase 50 U$S revenue to every sale

## How many orders were made in Canada or France?

## How many Bike Racks orders were made from Canada?

## How many orders were made in each region (state) of France?

## How many sales were made per category?

Show a pie plot with the results:

## How many orders were made per accessory sub-categories?

Show a bar plot with the results:

## How many orders were made per bike sub-categories?

Show a pie plot with the results:

## Which gender has the most amount of sales?

## How many sales with more than 500 in Revenue were made by men?

## Get the top-5 sales with the highest revenue

## Get the sale with the highest revenue

## What is the mean Order_Quantity of orders with more than 10K in revenue?

## What is the mean Order_Quantity of orders with less than 10K in revenue?

## How many orders were made in May of 2016?

## How many orders were made between May and July of 2016?

## Add 7.2% TAX on every sale Unit_Price within United States